.barraNav {
    background-color: burlywood;
}

.buscador {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.crear {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.boton {
    /* width: fit-content;
    height: fit-content;
    cursor: pointer; */
    padding: .4em 1.4em .3em .8em;
    width: fit-content;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba (0, 0, 0, .03);
    border-radius: .3em;
    cursor: pointer;
}

/*ESTILO PARA DIV*/
.contenedor {
    display: flex;
    justify-content: center;
}


/*ESTILO BARRA*/
.prueba {
    height: 1.78cm;
    /* background-image: url('../../../assets/wallPaperFood.jpg'); */
}
