.lista {
  display: flex;
  padding: 5px 2px;
}

/* .contenedor {
  display: inline-flex;
  justify-content: center;
  width: 50px;
  background-color: #52cc2d;
  padding: 2px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 2px;
  padding-top: 21px;
} */

.contenedor {
  background-color: #52cc2d;
  border: 2px solid black;
}

.buttonpage {
  /* background-image: url(../../../assets/icons8-cubiertos-48.png); */
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 2px;
  background-color: transparent;
  border: none;
  padding: 2px;
}

.buttonpageSelected {
  /* background-image: url(../../../assets/icons8-cubiertos-48.png); */
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 2px;
  background-color: transparent;
  border: none;
  padding: 2px;
  background-color: rgb(41, 47, 53);
}

.contenedor :hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.07);
  background-color: rgb(41, 47, 53);
}

.contenedorCards {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.contenedorFiltros {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}